#config files
.vimrc
.gdbinit
bochsrc.bxrc
gkd*.xml
.gourcerc

#log files
bochslog.txt
doxylog
netdump.pcap
serial.txt
*.log
.*.swp
core
*.log
*.db
*.dot

#intermediate files
*.o
*.gch
*.sym

#final files
*.a
*.so
*.kernel
*.img
