#config files
.vimrc
.gdbinit
bochsrc.bxrc
gkd*.xml

#log files
bochslog.txt
doxylog
netdump.pcap
serial.txt
.*.swp
core
*.log
jmpDB.mv.db

#intermediate files
*.o
*.gch
*.sym

#final files
*.a
*.so
*.kernel
*.img
