language: c

sudo: required

addons:
  apt:
    packages:
    - autoconf2.64
    - automake1.11
    - libgmp3-dev
    - libmpfr-dev
    - libisl-dev
    - libcloog-isl-dev
    - libmpc-dev
    - texinfo

script:
  - wget http://ftp.gnu.org/gnu/autoconf/autoconf-2.64.tar.gz
  - tar xzf autoconf-2.64.tar.gz
  - cd autoconf-2.64 && ./configure && make && sudo make install
  - make -C toolchain -n
  - make -C toolchain
